.dashbaord_main {
  width: 100%;
}
.tableBody {
  width: 100%;
  height: 70vh;
}
.table_header tr th{
  border-bottom: 1px solid #0000001a;
  padding-bottom: 5px;
}
.tableBody tbody tr td img{
    height: 80px;
    width: 80px;
    object-fit: cover;
}
.pagination_box {
    display: flex;
    margin-top: 100px;
    padding-right: 50px;
    gap: 22px;
}
.pagination_box button{
    padding: 5px 15px;

}
.bottom_pagination_main {
  width: 100%;

  justify-items: flex-end;
}
