.App {
font-family: "Gilroy-Medium";
}
.inner_first_logo_box{
  display: flex;
  justify-content: center;
  align-items: center;

} 
.logo_box{
  padding-right: 45px;
}
.logo_box>img{
width:167.79px;
}